html {
  scroll-behavior: smooth!important;
}
body{
  background-color: #17011e!important;
  color: #ffffff!important;
  float: none;
  margin: 0;
  font-family: 'jeko'!important;
}
.text-white{
  color: #ffffff!important;
}
h1,h2{
  font-family: 'jeko'!important;
  font-weight: 800!important;
}
.section{
  font-weight: 700!important;
}

.imgLogo{
  width: 300px!important;
  height: auto;
}
.cardContainer{
  width: auto;
  height:100%;
  min-height: 200px;
}

#header{
  background-color: #17011e;
  /* background-image: linear-gradient(to bottom, rgba(20, 2, 29,0),rgba(20,2,29,1)),url('/images/banner3.png'); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}
.mt-20{
  margin-top: 10rem;
}
.mt-10{
  margin-top: 5rem;
}
.customNav{
  background: linear-gradient(to bottom, rgba(20,2,29,1),rgba(20,2,29,0.4),rgba(20,2,29,0));

}
.mockupImg{
  height: 350px!important;
  max-height: 350px!important;
  width: auto;
}
.space{
  margin-top: 30px;
}
.customShadow{
  box-shadow: 6px 3px 5px 6px#7a003198;
  border-radius: 20px;
}

.yellowText{
  color: #EAB130;
}
.text20{
  font-size: 20px;
}
.text15 {
  font-size: 15px;
}
.imgLogoSm{
  width: 100px!important;
}
.pill-sm{
  border: none;
  font-weight: bold!important;
  color: white;
  padding: 5pt 10pt 5pt 10pt;
  font-size: 10pt;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 40px;
}
.pill-md{
  border: none;
  font-weight: bold!important;
  color: white;
  padding: 8pt 13pt 8pt 13pt;
  font-size: 15pt;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 40px;
}
.pill-lg{
  border: none;
  font-weight: bold!important;
  color: white;
  padding: 13pt 18pt 13pt 18pt;
  font-size: 22pt;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 40px;
}
.redPill{
  background-color: #D40054;

}
.redPill:hover{
  color: #ffffff;
  background-color: #A4134C;
}
.terciaryPill{
  color: #ffffff;
  background-color: rgba(255, 255, 255, .15);
}
.terciaryPill:hover{
  color: #14021D;
  background-color: #ffffff;
  }

.contactCard{
  background-color: #200e2b;
  border-radius: 20px;
  padding: 20px;
}
.customCard{
  
}
#home-desktop{
  background-position: center center;

/* Background image doesn’t tile */
background-repeat: no-repeat;

/* Background image is fixed in the viewport so that it doesn’t move when
the content’s height is greater than the image’s height */
background-attachment: fixed;

/* This is what makes the background image rescale based
on the container’s size */
background-size: cover;
  background-color: #1d0431!important;
  width: 100vw;
  height: 100vh;
  max-width: 100%!important;
  max-height: 100vh!important;
}
.yellowText{
color: #EAB130!important;
}